.acquaintance-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 175px 60px;
}

.acquaintance-info{
    margin-left: 40px;
    text-align: end;
}

.acquaintance-info > h2{
    margin: 10px 0 20px 0;
}

.acquaintance-info > p{
    margin-bottom: 32px;
}

