<div class="container">
  <div class="user-wrapper">
    <h1>Our cheerful users</h1>
    <h2>The best specialists are shown below</h2>
    <div class="card-wrapper">
      <div class="user-card" *ngFor="let user of users">
        <img class="user-card_img" src="{{ user.avatar }}" />
        <h2 class="user-name">{{ user.name }}</h2>
        <p>{{ user.job }}</p>
        <p class="user-mail">{{ user.mail }}</p>
        <p>{{ user.number }}</p>
      </div>
    </div>
    <button class="btn">Show more</button>
  </div>
</div>
