<div class="register-wrapper">
  <h1>Register to get a work</h1>
  <h2>Your personal data is stored according to the Privacy Policy</h2>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Your name</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput />
    </mat-form-field>
    <div class="radio-wrapper">
      <p>Select your position</p>
      <div>
        <div class="radio-item">
          <input
            type="radio"
            id="contactChoice1"
            value="Frontend developer"
            name="contact"
          />
          <label for="contactChoice1">Frontend developer</label>
        </div>
        <div class="radio-item">
          <input
            type="radio"
            id="contactChoice2"
            value="Backend developer"
            name="contact"
          />
          <label for="contactChoice2">Backend developer</label>
        </div>
        <div class="radio-item">
          <input
            type="radio"
            id="contactChoice3"
            value="Designer"
            name="contact"
          />
          <label for="contactChoice3">Designer</label>
        </div>
        <div class="radio-item">
          <input type="radio" id="contactChoice3" value="QA" name="contact" />
          <label for="contactChoice3">QA</label>
        </div>
      </div>
    </div>
    <div class="file-upload-wrapper" data-text="Select your file!">
      <input
        name="file-upload-field"
        type="file"
        class="file-upload-field"
        value=""
      />
    </div>
    <app-btn></app-btn>
  </form>
</div>
