.intro-wrapper{
    background-image: url(/assets/img/Banner_photo.jpg);
    background-size: cover;
    width: 100%;
    padding: 185px 294px 185px 60px;
}
.intro-block{
    width: 670px;
    height: 280px;
}

.intro-text{
    margin: 21px 0 32px 0;
}
